<div>
    <h2 id="page-heading">
        <span jhiTranslate="flowManagerApp.architectureComponent.home.title">Architecture Components</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-architecture-component" [routerLink]="['/architecture-component/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="flowManagerApp.architectureComponent.home.createLabel">
            Create a new Architecture Component
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="architectureComponents?.length === 0">
        <span jhiTranslate="flowManagerApp.architectureComponent.home.notFound">No architectureComponents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="architectureComponents && architectureComponents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="flowManagerApp.architectureComponent.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="flowManagerApp.architectureComponent.componentCategory">Component Category</span></th>
                    <th scope="col" ><span jhiTranslate="flowManagerApp.architectureComponent.components">Components</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let architectureComponent of architectureComponents ;trackBy: trackId">
                    <td><a [routerLink]="['/architecture-component', architectureComponent.id, 'view']">{{ architectureComponent.id }}</a></td>
                    <td>{{ architectureComponent.name }}</td>
                    <td>
                        <div *ngIf="architectureComponent.componentCategoryId">
                            <a [routerLink]="['/component-category', architectureComponent.componentCategoryId , 'view']" >{{ architectureComponent.componentCategoryId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="architectureComponent.componentsId">
                            <a [routerLink]="['/project', architectureComponent.componentsId , 'view']" >{{ architectureComponent.componentsId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/architecture-component', architectureComponent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/architecture-component', architectureComponent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(architectureComponent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
